// bootstrap variables definidas en '../../vendor/_default-variables.scss'
$bootstrap-container-width-desktop: 1097px; // $container-large-desktop
$bootstrap-pad: 15px; // $grid-gutter-width / 2

// z-index
$z-index-content: 1;
$z-index-upper  : $z-index-content + 1;
$z-index-downer : -1;

// otros
$gut-list-partners: 20px;




