
// definició colors
$color-white:	#fff;
$color-black:	#000;

// colors corporatius
$color-brand-blue : #3038A0;
$color-brand-red  : #E64A52;
$color-brand-lima : #D6EB31;
$color-brand-white: #EDF3FC;

// altres
$color-text: #4A4A4A;





